{% extends "layout.html" %}
{% block heading %}
<section class="row">
  <h1 class="col-8">That is you looking for?</h1>
</section>
{% endblock %}
<!-- ------------------------------------------- --> 
{% block body %}

{% for resoult in resultOfFind %}
{% endfor %}
<section class="card card-body">
<!--<header class="row"><h4 id="ID">Book ID:</h4><h4>{{idOfBook}}</h4></header>-->
<header class="row card-text">
  <h1 class="col-4" id="isbn">Title:</h1>
  <h1 class="col">{{title}}</h1>
</header>
<section class="row card-title">
  <h4 class="col-4" id="isbn">Author:</h4>
  <h4 class="col">{{author}}</h4>
</section>
<section class="row card-text">
  <h4 class="col-4" id="isbn">Book ISBN:</h4>
  <h4 class="col">{{isbnOfBook}}</h4>
</section>



<!--
<ol class="list-group">
  {% for name in names %}
    <li class="list-group-item">{{ name }}</li>
  {% endfor %}
</ol>
{{ data }}

<ol class="list-group">
  {% for rev in review %}
    <li class="list-group-item">{{ rev }}</li>
  {% endfor %}
</ol> -->
</section>

  
{% endblock %}                               
<!-- ------------------------------------------- -->  
{% block footer %}

{% endblock %}