{% extends "layout.html" %}
{% block heading %}
<section class="row">
  <h1 class="col-8">That is you looking for?</h1>
</section>
{% endblock %}
<!-- ------------------------------------------- -->
{% block body %}



<!--<header class="row"><h4 id="ID">Book ID:</h4><h4>{{idOfBook}}</h4></header>-->
<!--
{% for re in resultOfFind %}
  {% for r in re %}
    <h2>{{r}}</h2>
  {% endfor %}
{% endfor %}-->

{% for oneBook in resultOfFind %}
<section class="card card-body mh-300">
  {% for key, value in oneBook.items() %}
    {% if key == 'title' %}
    <header class="row card-title">
      <h1 class="col-4" id="{{ key }}">{{ key }}</h1>
      <h1 class="col">{{ value }}</h1>
    </header>
    {% elif key == 'isbn' %}
    <section class="row card-title">
      <h3 class="col-4" id="{{ key }}">{{ key }}</h3>
      <h3 class="col"><a href="book/{{ value }}">{{ value }}</a></h3>
      <img class="rounded" src="{{ url_for('static', filename='') }}{{value}}.jpg" title="{{ value }}" alt="" >
    </section>
    {% else %}
      <section class="row card-title">
        <h4 class="col-4" id="{{ key }}">{{ key }}</h4>
        <h4 class="col">{{ value }}</h4>
        {% if sad == True %}
        <img class="rounded mw-300" src="{{ url_for('static', filename='sad.jpg') }}" title="{{ sad }}" alt="" >
        {% endif %}
      </section>
    {% endif %}   
  {% endfor %}
</section>
{% endfor %}

<!--
<header class="row card-text">
  <h1 class="col-4" id="isbn">Title:</h1>
  <h1 class="col">{{title}}</h1>
</header>
<section class="row card-title">
  <h4 class="col-4" id="isbn">Author:</h4>
  <h4 class="col">{{author}}</h4>
</section>
<section class="row card-text">
  <h4 class="col-4" id="isbn">Book ISBN:</h4>
  <h4 class="col">{{isbnOfBook}}</h4>
</section>
-->


<!--
<ol class="list-group">
  {% for name in names %}
    <li class="list-group-item">{{ name }}</li>
  {% endfor %}
</ol>
{{ data }}

<ol class="list-group">
  {% for rev in review %}
    <li class="list-group-item">{{ rev }}</li>
  {% endfor %}
</ol> -->



{% endblock %}
<!-- ------------------------------------------- -->
{% block footer %}

{% endblock %}
