{% extends "layout.html" %}
{% block heading %}
  <h1>{{ headline }}</h1>
{% endblock %}
<!-- ------------------------------------------- --> 
{% block body %}
  <!--{% if new_year %}
    <h1>Yes! Happy New Year!</h1>
  {% else %}
    <h1>No.</h1>
  {% endif %}-->
  
  <ol class="list-group">
  {% for name in names %}
    <li class="list-group-item">{{ name }}</li>
  {% endfor %}
    </ol>
{% endblock %}
<!-- ------------------------------------------- -->  
{% block footer %}
                    
{% endblock %}
<!--
list-group-item-primary
list-group-item-secondary
-->