{% extends "layout.html" %}
{% block heading %}
  <h1>{{ headline }}</h1>
{% endblock %}
<!-- ------------------------------------------- -->

{% block body %}
<section class="row">
  <aside class="col-8">
    <img src="{{ url_for('static', filename='a.jpg') }}" class="figure-img img-fluid rounded col-9" alt="book">
  </aside>
  <form class="form-group col-4" action="{{ url_for('afterReg') }}" method="post">
      <input class="form-control" type="text" name="name" placeholder="Enter Your Name">
      <input class="form-control" type="password" name="pass" placeholder="Enter Your Password">
      <button class="submit btn btn-primary" type="submit">Submit</button>
  <form>
</section>
{% endblock %}
<!-- ------------------------------------------- -->
{% block footer %}

{% endblock %}
