{% extends "layout.html" %}
{% block heading %}
<section class="row">
  <h1 class="col-8">Book title: {{ header }} <sup> {{year}}</sup></h1>
</section>
{% endblock %}
<!-- ------------------------------------------- --> 
{% block body %}

<section class="card card-body">
<!--<header class="row"><h4 id="ID">Book ID:</h4><h4>{{idOfBook}}</h4></header>-->

<img src="{{ url_for('static', filename='') }}{{isbnOfBook}}.jpg" alt="" >

<header class="row card-title">
  <h2 class="col-4" id="isbn">Author:</h2>
  <h2 class="col">{{author}}</h2>
</header>
<section class="row card-text">
  <h4 class="col-4" id="isbn">Book ISBN:</h4>
  <h4 class="col">{{isbnOfBook}}</h4>
</section>
<section class="row card-text">
  <h5 class="col-4" id="isbn13">Book ISBN13:</h5>
  <h5 class="col">{{isbn}}</h5>
</section>



<!--
<ol class="list-group">
  {% for name in names %}
    <li class="list-group-item">{{ name }}</li>
  {% endfor %}
</ol>
{{ data }}
 -->
<ol class="col-8 list-group card-text">
    <li class="row"><span class="col-6">Reviews Count:        </span><span class="col-4">{{ rat1 }}</span></li>
    <li class="row"><span class="col-6">Work Ratings Count:   </span><span class="col-4">{{ rat2 }}</span></li>
    <li class="row"><span class="col-6">Average Rating:       </span><span class="col-4">{{ rat3 }}</span></li>
</ol>
</section>

<article class="card">
    <form class="form-group p-0" action="{{ url_for('afterSearch') }}" method="post">
        <div class="row">
            <input class="form-control col-8" type="text" name="title" placeholder="Description of book">
            <h4 class="form-control col-2">Rating:</h4>
            <select class="form-control col-2" type="select" name="isbn" placeholder="Book raiting 1-5">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review" placeholder="Review of book"></textarea>
        
        <button class="submit btn btn-primary" type="submit">Submit</button>
    <form>    
</article>

<article class="card">
    <ol class="list-group">
        <!--<li class="list-group-item"><h5>Description: </h5>{{ titleRev }}</li>
        <li class="list-group-item"><h5>Raiting: </h5>{{ ratingRev }}</li>
        <li class="list-group-item"><h5>Review: </h5>{{ textRev }}</li>-->
      {% for review in reviews %}
        <li class="list-group-item">
        
        {% for key, value in review.items() %}
        {% if key == 'Description' or key == 'Review' %}
        <h5>{{ key }} </h5>
        {{ value }}
        {% elif key == 'Rating'%}
        <div class="alert alert-secondary">
        <h5>{{ key }} </h5>
        {{ value }}
        </div>
        {% endif %}
        
        {% endfor %}
        </li>
      {% endfor %}
    </ol>         
</article>  
{% endblock %}                               
<!-- ------------------------------------------- -->  
{% block footer %}

{% endblock %}
